// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

// add image to item cards
.card-img{
    max-height:10rem;
    object-fit:cover
}

// item cards design
.card {
	border:0px;
}

// item cards colors
.card:nth-child(1) #cardimg{ 
	  background: 
    linear-gradient(
    rgba(131, 183, 153, 0.75),
    rgba(131, 183, 153, 1)
    );
}

.card:nth-child(4n+1) #cardimg{ 
	  background: 
    linear-gradient(
    rgba(226, 205, 109, 0.75),
    rgba(226, 205, 109, 1)
    );
}

.card:nth-child(4n+2) #cardimg{ 
	  background: 
    linear-gradient(
    rgba(131, 183, 153, 0.75),
    rgba(131, 183, 153, 1)
    );
}

.card:nth-child(4n+3) #cardimg{ 
	  background: 
    linear-gradient(
    rgba(194, 178, 143, 0.75),
    rgba(194, 178, 143, 1)
    );
}
.card:nth-child(4n+4) #cardimg{ 
	  background: 
    linear-gradient(
    rgba(232, 111, 104, 0.75),
    rgba(232, 111, 104, 1)
    );
}

// item card footer
.footer {
	float:right;
}

.input-group {
	margin-left: auto;
	margin-right: auto;
}

.card-product{
    background-color:white;
}

.btn-request{
    border-radius:50rem;
    margin-right:0.5rem;
    width: 8rem;
}

.btn {
    margin-right:0.5rem;
}

.request{
    width:30rem;
}

.badge-hiphop{
    background-color: #E2CD6D;
}

.badge-indie{
    background-color: #83B799;
}

.badge-jazz{
    background-color: #C2B28F;
}

.badge-rock{
    background-color: #E86F68;
}


.row-fill{
    min-width:200vw;
}

.btn-login{
    border-radius:50rem;
    width:8rem;
}









